@import './styles/normalize';
@import './styles/variables';
@import './styles/mixins';

#upload-btn 
{
    font-family:'';
    font-size: 24px;
    color:$deep-sky-blue;
    background-color:white;
    outline: none;
    border: none;
     margin: 0 auto;
     display: block;
}


